* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  overflow: hidden;
  height: 500px;
  width: 300px;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.card .image {
  height: 100%;
  overflow: hidden;
  display: flex;
}

.card .image .tags {
  width: 280px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-self: flex-end;
  align-items: center;
}

.color {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: red;
  border: 2px solid white;
}

.card .image .tags > span:nth-child(2) {
  display: flex;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.container-image {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: beige;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  height: 100%;
}

.container-image .image {
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.container-image > div:last-child {
  margin: 8px;
}

.card .gallery {
  display: flex;
  justify-content: space-around;
  height: 80px;
}

.card .gallery > div {
  flex: 1;
  border-top: 2px solid white;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.card .gallery > div:nth-child(2) {
  border-left: 2px solid white;
  border-right: 2px solid white;
}
