*{box-sizing: border-box}

@keyframes swipe-right {
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(30%);
        opacity: 0;
    }
}

@keyframes swipe-left {
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(-30%);
        opacity: 0;
    }
}

body {
    display: flex;
    justify-content: center;
}

.container.left {
    animation: swipe-left .3s forwards;
}

.container.right {
    animation: swipe-right .3s forwards;
}

.container {
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    height: 480px;
    border: 5px solid grey;
    border-radius: 10px;
}

.container > div:nth-child(1){order: 1;}
.container > div:nth-child(2){order: 3;}
.container > div:nth-child(3){order: 2;}

.center-items {
    display: flex;
    height: 100%;
    bottom: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.center-items > i {
    font-size: 50px;
    top: 50%;
}

.card {
    display: flex;
    background-color: lightgrey;
    height: 420px;
    width: 250px;
    border-radius: 30px;
    align-items: flex-end;
    outline: none;
}

.card > div {
    color: darkslategray;
    /* border: 2px solid white; */
    border-top: 2px solid #fff;
    background-color: lightpink;
    width: 33.33%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.card > div:not(:last-of-type){
    border-right: 2px solid #fff;
}

.card > div:hover {
    cursor: pointer;
    color: black;
    background-color: pink
}

.button-container > button {
    position: relative;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    align-items: flex-end;
}

.button-container button:first-of-type {
    background-color: pink;
}
.button-container button:last-of-type{
    background-color: lightgreen
}

.card > div:first-child {
    border-bottom-left-radius: 30px
}

.card > div:last-child {
    border-bottom-right-radius: 30px
}

.button-container {
    display: flex;
    width: 150px;
    justify-content: space-between;
}



@media(max-width: 768px){
    .center-items > i{
        display: none;
    }

    .container{
        width: 99%;
        height: 80%;
    }
    .center-items {
        display: flex;
        height: auto;
    }

    .container > div {
        width: 50%;
    }

    .container > div:nth-child(1){order: 1;}
    .container > div:nth-child(2){order: 2;}
    .container > div:nth-child(3){order: 3;}   
}