*{box-sizing: border-box}

@keyframes swipe-right {
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(200%);
        opacity: 0;
    }
}

@keyframes swipe-left {
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(-200%);
        opacity: 0;
    }
}

body {
    display: flex;
    justify-content: center;
}

.card {
    position: absolute;
    display: flex;
    height: 420px;
    width: 250px;
    background-color: lightgrey;
    border-radius: 30px;
    align-items: flex-end;
}

.card.right {
    animation: swipe-right .2s forwards;
}

.card.left { 
    animation: swipe-left .2s forwards;
}

.card > button {
    height: 50px;
    width: 50%;
    outline: none;
    color: darkslategrey;
    background-color: lightpink;
    border: none
}


.card > button:hover {
    color: black;
    background-color: pink;
}

.card button:first-child {
    border-bottom-left-radius: 30px;
    border-right: 1px solid grey;
}

.card button:last-child {
    border-bottom-right-radius: 30px
}